@font-face {
	font-family:'untitled-sans';
	src:url('fonts/untitled-sans/untitled-sans-web-regular.woff2')	format('woff2'),
		url('fonts/untitled-sans/untitled-sans-web-regular.woff') format('woff');
	font-weight:normal;
	font-style:normal;
}