@media (max-width: 1100px), (max-device-width: 1100px) {

	.wrapper {
		margin-left:40px;
		margin-right:40px;
		margin-top:30px;
		padding-bottom:30px;
	}

	.expandablePanelContent {
		padding-top:30px;
		padding-bottom:40px;
	}

	.smallerText {
		font:$panelContentCopy02;
	}

	span.imageCount {
		margin-left:15px;
	}

	span#soundToggle {
		height:2.4vw;
		width:4.5vw;
		border-radius:1.4vw;
	}

	span#soundToggleDot {
		height:1.9vw;
		width:1.9vw;
		right:.3vw;
		top:.25vw;
	}

	#soundController.soundOff {

		span#soundToggleDot {
			right:2.25vw;
		}

	}

}

@media (max-width: 950px), (max-device-width: 950px) {

	body,html {
		font:$bodyCopy02;
	}

	.expandablePanelContent {
		padding-top:20px;
	}

	.smallerText {
		font:$panelContentCopy03;
	}

	span#soundToggle {
		height:3.2vw;
		width:5.5vw;
		border-radius:1.8vw;
		margin-bottom:.9vw;
	}

	span#soundToggleDot {
		height:2.4vw;
		width:2.4vw;
		right:.4vw;
		top:.4vw;
	}

	#soundController.soundOff {

		span#soundToggleDot {
			right:2.6vw;
		}

	}

	.expandablePanelButton {
		width:5vw;
		height:5vw;
	}

	span.imageCount {
		margin-left:10px;
	}

}

@media (max-width: 600px), (max-device-width: 600px) {

	.wrapper {
		margin-left:25px;
		margin-top:20px;
		margin-right:25px;
	}

	body,html {
		font:$bodyCopy03;
	}

	.expandablePanelButton {
		margin-top:-1.8vw;
		width:8.2vw;
		height:8.2vw;
	}

	.expandablePanelButtonLines {
		width:5vw;
		height:5vw;
	}

	.expandablePanelButtonLines span {
		height:.7vw;
		width:5vw;
	}

	.expandablePanelButtonLines span:last-child {
		width:.7vw;
		height:5vw;
	}

	#aboutSectionContent {
		margin-right:0;
	}

	.smallerText {
		font:$panelContentCopy04;
	}

	span#soundToggle {
		height:4.2vw;
		width:7vw;
		border-radius:2.3vw;
		margin-bottom:1vw;
	}

	span#soundToggleDot {
		height:2.7vw;
		width:2.7vw;
		right:.7vw;
		top:.7vw;
	}

	#soundController.soundOff {

		span#soundToggleDot {
			right:3.7vw;
		}

	}

}

@media (hover: none) {

	#cursor {
		display:none !important;
	}

}