@import 'reset';
@import 'fonts';

// Fonts
$default:'untitled-sans', helvetica, sans-serif;

// Font styles
$bodyCopy01:6.75vw/1.1em $default;
$bodyCopy02:7.5vw/1.2em $default;
$bodyCopy03:12vw/1.2em $default;
//
$panelContentCopy01:3vw/1.2em $default;
$panelContentCopy02:3.5vw/1.25em $default;
$panelContentCopy03:4.5vw/1.25em $default;
$panelContentCopy04:5.75vw/1.3em $default;
//

// Colors
$black:#000;
$white:#fff;
$darkestGrey:#171717;
$lightGrey:#adadad;
$mediumGrey:rgba(255,255,255,.3);
$brightGreen:rgba(0,255,100,1);
$brightRed:rgba(255,0,0,1);
$brightYellow:rgba(255,255,0,1);

// Transitions
$transitionSpeed:.4s;

// Global

html, body {
	overflow:auto;
	cursor:none;
}

body {
	font:$bodyCopy01;
	-webkit-font-smoothing:antialiased;
	overflow-x:hidden;
	background:$black;
	color:$white;
	letter-spacing:-2px;
}

html.unloaded {
	overflow:hidden;
}

a {
	text-decoration:none;
	color:inherit;
	cursor:none;
}

.clearfix {
	clear:both;
	display:block;
}

.hideOnDesktop {
	display:none;
}

::-moz-selection {
	background:$lightGrey;
}

::selection {
	background:$lightGrey;
}

/* Layout */

.wrapper {
	margin-left:60px;
	margin-right:60px;
	margin-top:40px;
	padding-bottom:60px;
}

body .fadeOnLoad {
	opacity:0;
	transition:opacity 0s;
}

body.loaded .fadeOnLoad {
	opacity:1;
	transition:opacity 1s;
}

#projects {
	margin-top:80px;
	margin-bottom:80px;
}

.projectTitle {
	display:inline-block;
	height:100%;
	color:rgba(255,255,255,.3);
	transition:color $transitionSpeed;
}

.projectTitle:hover {
	color:rgba(255,255,255,1);
}

span.imageCount {
	display:inline-block;
	opacity:0;
	pointer-events:none;
	transition:opacity $transitionSpeed;
	margin-left:20px;
	font-size:50%;
	line-height:1em;
	letter-spacing:0;
}

.projectTitle:hover span.imageCount {
	opacity:1;
	pointer-events:default;
}

.projectPreview {
	visibility:visible;
	position:fixed;
	top:0;
	left:0;
	pointer-events:none;
	width:100vw;
	height:100vw;
	z-index:-1;
	opacity:0;
	transition:opacity $transitionSpeed;
}

.project.opaque .projectPreview {
	opacity:1;
}

img.image {
	position:fixed;
	display:none;
	opacity:0;
	transition:opacity $transitionSpeed;
}

img.image.narrowerThanViewport {
	width:100%;
	height:auto;
	top:50%;
	left:0;
	transform:translateY(-50%);
}

img.image.widerThanViewport {
	height:100%;
	width:auto;
	top:0;
	left:50%;
	transform:translateX(-50%);
}

img.image.showing {
	display:block;
	opacity:1;
}

video.projectVideo {
}

// Expandable panels

.expandablePanelTrigger {
	color:$mediumGrey;
	transition:color $transitionSpeed;
	display:inline-block;
}

.expandablePanelButton {
	display:inline-block;
	height:4.5vw;
	width:4.5vw;
	opacity:.3;
	vertical-align:middle;
	margin-top:-.75vw;
	margin-left:-.5vw;
	position:relative;
	transition:transform $transitionSpeed, opacity $transitionSpeed;
}

// Expandable panel content

.expandablePanelContentContainer {
	height:0;
	overflow:hidden;
	transition:height $transitionSpeed;
}

.expandablePanelContent {
	display:block;
	padding-top:40px;
	padding-bottom:60px;
	opacity:0;
	transition:opacity $transitionSpeed;
}

.smallerText {
	font:$panelContentCopy01;
	letter-spacing:-1px;
}

.expandablePanelContent a {
	border-bottom:1px solid;
	padding-bottom:0px;
}

.expandablePanel.open {

	.expandablePanelTrigger {
		color:$white;
	}

	.expandablePanelButton {
		transform:rotate(45deg);
		opacity:1;
	}

	.expandablePanelContent {
		opacity:1;
	}

	.expandablePanelButtonLines span {
		background-color:$white;
	}

}

// Handle the site meta when an accordion is open

.siteMeta {
	transition:color $transitionSpeed;
}

body.openPanel .siteMeta {
	color:$mediumGrey;
}

// Sound controller
#soundController {
	position:fixed;
	color:$white;
	bottom:10px;
	right:20px;
	padding-left:8px;
	padding-top:5px;
	padding-bottom:4px;
	text-align:right;
	transition:color $transitionSpeed, opacity 0;
	opacity:0;
}

body.loaded #soundController {
	opacity:1;
	transition:opacity 1s;
}

#soundController.soundOff {
	color:$mediumGrey;
}

span#soundToggle {
	display:inline-block;
	margin-left:5px;
	height:1.8vw;
	width:3.2vw;
	vertical-align:bottom;
	margin-bottom:.6vw;
	border:3px solid #fff;
	border:.2vw solid #fff;
	position:relative;
	border-radius:1.1vw; // 1/2 of height + thickness of border
}

span#soundToggleDot {
	display:block;
	position:absolute;
	height:1.5vw;
	width:1.5vw;
	right:.15vw;
	top:.15vw;
	border-radius:50%;
	background:$white;
	transition:right $transitionSpeed;
}

#soundController.soundOff {
	span#soundToggleDot {
		right:1.55vw;
		opacity:.3;
	}
	span#soundToggle {
		border:.2vw solid rgba(255,255,255,.3);
	}

}

// About section specific styling

#aboutSectionContent {
	margin-right:60px;
}

// Cursor
#cursor {
	height:47px;
	width:30px;
	position:fixed;
	top:-200px;
	left:-200px;
	pointer-events:none;
	margin-left:-10px;
	margin-top:-10px;
	transition:transform .2s;
	-webkit-filter:drop-shadow(0px 0px 5px rgba(0, 0, 0, .5));
	filter:drop-shadow(0px 0px 5px rgba(0, 0, 0, .5));
	transform:rotate(-22.5deg);
}

#cursor.south {
	transform:rotate(-180deg);
}

#cursor.northeast {
	transform:rotate(45deg);
}

#cursor.east {
	transform:rotate(90deg);
}

#cursor.west {
	transform:rotate(-90deg);
}


@import 'mobile';
@import 'dark'